<!doctype html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>Hello
    <del>World</del>
    Angular
</h1>

<div ng-controller="CalculatorCtrl as calculator">
    <input type="number" ng-model="calculator.a">
    <input type="number" ng-model="calculator.b">

    <h4>Calculator ..</h4>
    <p>a = {{calculator.a}}</p>
    <p>b = {{calculator.b}}</p>
    <p>add result {{calculator.addResult()}}</p>
    <p>sub result {{calculator.subResult()}}</p>
    <p>multi result {{calculator.multiResult()}}</p>
    <p>div result {{calculator.divResult()}}</p>
</div>

<div ng-controller="HeaderController as header">
    <input ng-model="header.newText" ng-enter="header.changeText()">
    <button ng-click="header.toUpper()">enlarge</button>
    <h1 ng-dblclick="header.toLower()">{{header.hardText}}</h1>
</div>
<div ng-controller="BackController as back">
    <button ng-click="back.changeBackground()">change background color</button>
    <button ng-dblclick="back.changeBackgroundToWhite()">double click to turn background white</button>
</div>

<div ng-controller="ChangeController as change" ng-init="change.changeStatus()">
    <input type="checkbox" ng-model="change.checkbox" ng-change="change.changeStatus()" ng-checked="true">
    <p>{{change.status}}</p>

</div>

<script type="application/javascript" src="bower_components/angular/angular.js"></script>
<script type="application/javascript" src="js/app.js"></script>

</body>