<!doctype html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>Hello
    <del>World</del>
    Angular
</h1>

<div ng-controller="MoviesCtrl as ctrl">
    <h3>Check the box if u want to see links</h3>
    <input type="checkbox" ng-model="ctrl.check">
    <div ng-show="ctrl.check">
        <a ng-href="https://www.youtube.com/watch?v={{ctrl.movies[0]}}">SOUNDGARDEN</a>
        <a ng-href="https://www.youtube.com/watch?v={{ctrl.movies[1]}}">TOOL</a>
        <br>

    </div>
    <div>
        <input type="text" ng-model="ctrl.dummy">
        <br>

        <img src="{{ctrl.images[0]}}" ng-hide="ctrl.dummy">
    </div>
</div>


<script type="application/javascript" src="bower_components/angular/angular.js"></script>
<script type="application/javascript" src="js/app.js"></script>

</body>