<!doctype html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>Hello <del>World</del> Angular</h1>

<div ng-controller="MainController as main">
    <p>as easy as {{2+2}} <-- there is '\{\{2+2}}'</p>
    <p>{{main.exampleVariable}}</p>
    <input type="text" ng-model="main.exampleVariable">
    <input type="number" ng-model="main.a">
    <input type="number" ng-model="main.b">
    <p>{{main.exampleVariable}}</p>
    <p>{{main.a}}</p>
    <p>{{main.b}}</p>
    <p>add result {{main.a+main.b}}</p>
    <p>sub result {{main.a-main.b}}</p>
    <p>multi result {{main.a*main.b}}</p>
    <p>div result {{main.a/main.b}}</p>

</div>

<script type="application/javascript" src="bower_components/angular/angular.js"></script>
<script type="application/javascript" src="js/app.js"></script>
</body>
</html>